@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-bold-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-heavy-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-heavy-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-light-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-medium-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-regular-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-regularitalic-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-regularitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'San_Francisco_pro';
    src: url('../fonts/sf-pro-text-semibold-webfont.woff2') format('woff2'),
    url('../fonts/sf-pro-text-semibold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: San_Francisco_pro, sans-serif;
    padding: 0;
    margin: 0;
    transition-duration: 0.5s;
}
/*--Header--*/

.header {
    background: url("../img/header-banner.jpg");
    height: 1136px;
    position: relative;
    display: flex;
    justify-content: center;
}

.header-wrapper {
    position: absolute;
    max-width: 1170px;
    height: 156px;
    top: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*--logo--*/

.link-logo {
    width: 154px;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 50%;
    text-transform: uppercase;
}

.link-logo:hover {
    background: #19CD08;
    transition-duration: 1s;
    box-shadow: 0 0 40px rgba(255,255,255,1);
}

/*--header-nav--*/

.nav {
    margin-left: 210px;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.list-item {
    padding-right: 37px;
}

.list-item::after {
    content:'//';
    padding-left: 37px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.list-item:last-of-type::after{
    padding-left: 0;
    display: none;
}

.list-item:last-of-type {
    padding-right: 0;
}

.list-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.list-link:hover {
    color:#19CD08;
    text-shadow: 1px 1px 2px rgba(255,255,255,1),
    3px 3px 2px rgba(0,0,0,0.5);
}








